python-dotenv
requests
beautifulsoup4
pandas
gspread
google-auth
langchain==0.0.349
faiss-gpu
openai==0.28.1
gspread_dataframe
tiktoken
tldextract
nameparser
streamlit
pyngrok
zenrows
PyDrive
streamlit-lottie
pillow
openlimit
playwright
